[Unit]
Description=Create Centmin Mod nginx TLS session ticket keys
Before=nginx.service
After=nginx-session_ticket_keys.mount

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/manage-session-keys create

[Install]
WantedBy=multi-user.target