[Unit]
Description=Create Centmin Mod nginx TLS session ticket keys
Before=nginx.service
After=nginx-session_ticket_keys.mount

[Service]
Type=oneshot
User=root
Group=root
ExecStart=/usr/local/bin/manage-session-keys create

PrivateDevices=true
PrivateIPC=true
PrivateNetwork=true
PrivateTmp=true
PrivateUsers=true

[Install]
WantedBy=multi-user.target