[Unit]
Description=Ramdisk Mount for Centmin Mod nginx TLS session ticket keys

[Mount]
What=ramfs
Where=/usr/local/nginx/conf/session_ticket_keys
Type=ramfs
Options=mode=0700
DirectoryMode=0700

[Install]
WantedBy=multi-user.target
